paddlepaddle
pdfplumber
pypdf2
paddleocr
pillow==11.3.0
setuptools
faiss-cpu 
pillow
cohere
pdf2image
google-genai
python-dotenv
langchain
langchain-community
langgraph
qdrant-client
langchain-qdrant
pymongo
wikipedia
fastapi
uvicorn[standard]
python-multipart
email-validator
pyjwt
bcrypt
motor
jinja2